.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
/* html:focus-within {
  scroll-behavior: smooth;
} */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  /* html:focus-within {
    scroll-behavior: auto;
  } */

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    /* scroll-behavior: auto !important; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a_novidades {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.a_novidades_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.a_novidades img {
  width: 375px;
  padding: 7px 0;
  border-radius: 50px;
  position: relative;
}

.intro-image {
  width: 100%;
}

.top_container {
  background-color: #102e4a;
  background-image: url("./assets/imagens/estrelas.png");
  background-size: contain;
  text-align: justify;
}

.top_div img {
  width: 100%;
}

.top_div {
  background-image: url("./assets/imagens/capa2_rsz.jpg");
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.evento-dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s;
  border-radius: 50px;
  /* height: 300px; */
}

.cargo {
  font-size: 1.4rem;
  /* font-weight: bold; */
  color: #fff;
}

.evento-dia-calendario {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s;
  height: 300px;
  border: 2px dashed #0f1820;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.evento-dia-calendario:hover {
  /* transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg); */
}

a:hover {
  /* background-color: #102e4a; */
  color: #dcae27;
}
a {
  text-decoration: none;
  color: unset;
  transition: 0.3s all ease-in-out;
}

.events_section {
  background-color: #102e4a;
  background-image: url("./assets/imagens/estrelas.png");
  background-size: contain;
  color: white;
}

.data_evento {
  text-align: -webkit-left;
}

.titulo_evento {
  text-align: -webkit-left;
  font-size: 2rem;
  color: #dcae27;
  font-weight: 900;
}

.titulo_evento_preto {
  text-align: -webkit-left;
  font-size: 3rem;
  color: #000000;
  font-weight: lighter;
}

.hora_evento {
  text-align: -webkit-left;
  font-size: 1.5rem;
  color: black;
}

.local_evento {
  text-align: -webkit-left;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.subtitulo_evento {
  text-align: -webkit-left;
  font-size: 1.5rem;
  color: #dcae27;
  font-weight: bold;
}

.descricao_evento {
  text-align: -webkit-left;
  font-size: 1.2rem;
  color: black;
  text-align: justify;
}

.classificacao_etaria_evento {
  text-align: -webkit-left;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.entrada_evento {
  text-align: -webkit-left;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer-event {
  background-color: #102e4a;
  background-image: url("./assets/imagens/estrelas.png");
  background-size: cover;
  color: white;
}

@media (min-width: 1024px) {
  .top_div {
    background-image: url("./assets/imagens/capa2_rsz.jpg");
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.filtros {
  background-color: #102e4a;
}

@media (min-width: 1440px) {
  .top_div {
    background-image: url("./assets/imagens/capa2_rsz.jpg");
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.btn-primary {
  background-color: unset !important;
  border-color: white !important;
}

.btn-primary:focus {
  border-color: #dcae27 !important;
  box-shadow: unset !important;
}

@media (max-width: 500px) {
  .a_novidades {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
  .top_container {
    background-color: #102e4a;
    text-align: left;
  }
  .descricao_evento {
    text-align: -webkit-left;
    font-size: 1rem;
    color: black;
    text-align: left;
  }
  .mobile-letras-amarelo {
    color: #dcae27;
  }
  .events_desktop {
    display: none;
  }
  .events_mobile {
    display: block !important;
  }
  .top_div {
    background-image: url("./assets/imagens/natalMobile.jpg");
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.box span {
  width: 20px;
  height: 20px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}

.events_mobile {
  display: none;
}

.menu {
  font-size: 1.5em;
  padding-block: 2em;
  font-weight: bold;
  font-style: none;
  color: white;
  background-color: #102e4a;
}

li,
ul {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dcae27;
}

.nav-link:focus {
  color: #dcae27;
}

.active {
  color: #dcae27;
}

.active:hover {
  color: #f7d264;
}

.active:focus {
  color: #f7d264;
}

.mensagem-texto {
  font-size: 1.2rem;
}

.ricardo-rio {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ###### ADVENT CALENDAR ###### */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .present {
    width: 250px !important;
    height: 190px !important;
  }
  .present_img {
    object-fit: cover;
    width: 250px !important;
    height: 190px !important;
    /* border: 1px solid #0f1820; */
    border-radius: 25px;
  }
}

.elementDiv {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 0.5em;
  perspective: 850px;
  z-index: 666;
  transition: 1s all ease-in-out;
}

.present {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 0.5em;
  perspective: 850px;
  z-index: 666;
  transition: 1s all ease-in-out;
}

.present__pane,
.present__content {
  width: inherit;
  height: inherit;
}
.present__pane {
  position: relative;
  background-color: #102e4a96;
  transform-style: preserve-3d;
  transform-origin: 0;
  perspective: 850px;
  text-align: center;
  box-shadow: 2px 1px 4px 0px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: all 0.2s ease-out;
  border: 2px dashed #0f1820;
  border-radius: 25px;
}

.present__pane:hover {
  /* background-color: #102e4a; */
  background-color: #102e4a4b;
  color: #dcae27 !important;
}

.present_img {
  object-fit: cover;
  width: 400px;
  height: 300px;
  /* border: 1px solid #0f1820; */
  border-radius: 25px;
}
.present__date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}
.present:hover {
  /* z-index: 999; */
}
.present:hover .present__pane {
  /* background-color: #102e4a; */
  /* transform: rotateY(-97deg); */
  /* perspective-origin: 0; */
  /* transition: all 0.4s ease-in-out;
  border: 1px solid #0f1820;
  box-shadow: unset; */
}
.present:hover .present__date {
  backface-visibility: hidden;
}
.present:hover .present__bauble {
  display: inline-block;
  transform-origin: 50% 0;
  animation: shake 0.7s;
}
.present__content {
  position: absolute;
  top: 0;
  left: 0;
  background: #102e4a;
  /* box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 30px 20px rgba(0, 0, 0, 0.15); */
  z-index: -1;
}
.present__bauble {
  position: relative;
  width: 2.6666666667em;
  height: 2.6666666667em;
  background: #102e4a;
  margin: 25% auto 0 auto;
  font-size: 2.6666666667em;
  line-height: 2.6666666667em;
  border-radius: 50%;
}
.present__bauble::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  width: 30%;
  height: 10%;
  margin-left: -15%;
  background: inherit;
}
.present__bauble::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 50%;
  width: 12%;
  height: 20%;
  margin-left: -12%;
  border: 0.35rem solid Violet;
  border-radius: 50%;
  z-index: 0;
}
